<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.pension.common.mapper.PensionUploadMapper">

    <resultMap id="BaseResultMap" type="com.ruoyi.pension.common.domain.po.PensionUpload">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="masterId" column="master_id" jdbcType="INTEGER"/>
            <result property="masterName" column="master_name" jdbcType="VARCHAR"/>
            <result property="relateId" column="relate_id" jdbcType="INTEGER"/>
            <result property="rootPath" column="root_path" jdbcType="VARCHAR"/>
            <result property="uri" column="uri" jdbcType="VARCHAR"/>
            <result property="fileName" column="file_name" jdbcType="VARCHAR"/>
            <result property="fileType" column="file_type" jdbcType="VARCHAR"/>
            <result property="fileSize" column="file_size" jdbcType="BIGINT"/>
            <result property="uploadTime" column="upload_time" jdbcType="TIMESTAMP"/>
            <result property="delFlag" column="del_flag" jdbcType="CHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,master_id,master_name,
        relate_id,root_path,uri,
        file_name,file_type,file_size,
        upload_time,del_flag
    </sql>
    <delete id="removeByTableEnumAndRelateIds">
        DELETE FROM pension_upload
        <where>
            master_id = #{tableEnum.code,jdbcType=INTEGER}
            AND relate_id IN
            <foreach collection="relateIds" item="relateId" open="(" close=")" separator=",">
                #{relateId,jdbcType=INTEGER}
            </foreach>
        </where>
    </delete>
    <select id="getAllByRelateId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from pension_upload
        where del_flag = 0
        AND relate_id = #{relateId,jdbcType=INTEGER}
    </select>
    <select id="getByTableEnumAndRelateId" resultType="com.ruoyi.pension.common.domain.po.PensionUpload">
        SELECT
        <include refid="Base_Column_List"/>
        FROM pension_upload
        <where>
            del_flag = 0  AND master_id = #{tableEnum.code,jdbcType=INTEGER}
            <if test="relateId != null">AND relate_id = #{relateId,jdbcType=INTEGER}</if>
        </where>
    </select>
    <select id="getByTableEnumAndRelateIds" resultType="com.ruoyi.pension.common.domain.po.PensionUpload">
        SELECT
        <include refid="Base_Column_List"/>
        FROM pension_upload
        <where>
            del_flag = 0 AND master_id = #{tableEnum.code,jdbcType=INTEGER}
            AND relate_id IN
            <foreach collection="relateIds" item="relateId" open="(" close=")" separator="," nullable="false">
                    #{relateId,jdbcType=INTEGER}
            </foreach>
        </where>
    </select>
</mapper>
