<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.pension.bioland.mapper.BiolandDeviceCategoriesMapper">

    <resultMap id="BaseResultMap" type="com.ruoyi.pension.bioland.domain.po.BiolandDeviceCategories">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="modelCode" column="model_code" jdbcType="VARCHAR"/>
            <result property="deviceType" column="device_type" jdbcType="VARCHAR"/>
            <result property="created" column="created" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,model_code,
        device_type,created
    </sql>
    <select id="getOneByDeviceType" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from bioland_device_categories
        where
        device_type = #{deviceType,jdbcType=VARCHAR}
    </select>
</mapper>
