<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.pension.owon.mapper.GatewayMapper">

    <resultMap id="BaseResultMap" type="com.ruoyi.pension.owon.domain.po.Gateway">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="deptId" column="dept_id" jdbcType="BIGINT"/>
            <result property="gwName" column="gw_name" jdbcType="VARCHAR"/>
            <result property="gwCode" column="gw_code" jdbcType="VARCHAR"/>
            <result property="orderNum" column="order_num" jdbcType="INTEGER"/>
            <result property="leader" column="leader" jdbcType="VARCHAR"/>
            <result property="phone" column="phone" jdbcType="VARCHAR"/>
            <result property="email" column="email" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="CHAR"/>
            <result property="delFlag" column="del_flag" jdbcType="CHAR"/>
            <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,dept_id,gw_name,
        gw_code,order_num,leader,
        phone,email,status,
        del_flag,create_by,create_time,
        update_by,update_time
    </sql>

    <select id="selectAllByDeptIds" resultType="java.lang.String">
        SELECT DISTINCT gw_code FROM owon_gateway
        where status = 0 AND dept_id in
        <foreach collection="deptIds" item="deptId" open="(" close=")" separator=",">
            #{deptId}
        </foreach>
    </select>
</mapper>
