<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.pension.owon.mapper.OwonReportMapper">

    <resultMap id="BaseResultMap" type="com.ruoyi.pension.owon.domain.dto.OwonReport">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="code" column="code" jdbcType="VARCHAR"/>
            <result property="mac" column="mac" jdbcType="VARCHAR"/>
            <result property="ts" column="ts" jdbcType="TIMESTAMP"/>
            <result property="created" column="created" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,code,mac,
        ts,created
    </sql>
    <select id="ProcDeleteLtCreatedCascade" statementType="CALLABLE">
        {CALL proc_del_owon_report_cascade(#{created,jdbcType=VARCHAR})}
    </select>
</mapper>
