<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.pension.owon.mapper.OwonNoticeMapper">

    <resultMap id="BaseResultMap" type="com.ruoyi.pension.owon.domain.po.OwonNotice">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="reportId" column="report_id" jdbcType="INTEGER"/>
            <result property="reportTime" column="report_time" jdbcType="TIMESTAMP"/>
            <result property="deviceIeee" column="device_ieee" jdbcType="VARCHAR"/>
            <result property="deviceName" column="device_name" jdbcType="VARCHAR"/>
            <result property="noticeType" column="notice_type" jdbcType="VARCHAR"/>
            <result property="noticeContent" column="notice_content" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="delFlag" column="del_flag" jdbcType="CHAR"/>
            <result property="displayName" column="display_name" jdbcType="VARCHAR"/>
            <result property="deptId" column="dept_id" jdbcType="BIGINT"/>
            <result property="source" column="source" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,report_id,report_time,
        device_ieee,device_name,notice_type,
        notice_content,description,create_time,del_flag,
        display_name,dept_id,`source`
    </sql>
    <select id="getListByLoginUserDeptId" resultType="com.ruoyi.pension.owon.domain.po.OwonNotice">
        SELECT a.* FROM owon_notice a
        WHERE a.del_flag = 0
        <if test="!isAdmin">
            AND a.dept_id != 100
        </if>
          <if test="beginTime != null">
              AND a.report_time &gt;= #{beginTime,jdbcType=TIMESTAMP}
          </if>
          <if test="endTime != null">
              AND a.report_time &lt; #{endTime,jdbcType=TIMESTAMP}
          </if>
        <if test="!isAdmin">
            AND find_in_set (a.dept_id,(
            SELECT CONCAT_WS(',',aa.ancestors,aa.dept_id) FROM sys_dept aa
            WHERE aa.dept_id = #{deptId,jdbcType=BIGINT}
            ))
        </if>
          <if test="notice.deviceIeee != null">
              AND a.device_ieee LIKE CONCAT('%',#{notice.deviceIeee},'%')
          </if>
          <if test="notice.deviceName != null">
              AND a.device_name LIKE CONCAT('%',#{notice.deviceName},'%')
          </if>
          <if test="notice.noticeContent != null">
              AND a.notice_content LIKE CONCAT('%',#{notice.noticeContent},'%')
          </if>
          order by a.report_time desc
    </select>
</mapper>
